:root {
  --border: rgba(125, 125, 125, 0.5);
  --surface: rgba(125, 125, 125, 0.1);
  font-family: sans-serif;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h2 {
  border-bottom: 1px solid var(--border);
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 2em;
  padding-bottom: 1rem;
}

h3 {
  margin-top: 2em;
}

.tree ul {
  font-size: 14px;
  line-height: 2em;
  list-style: none;
  padding-inline-start: 0;
}

.tree ul ul {
  padding-inline-start: 12px;
}

table,
th,
td {
  border: 1px solid var(--border);
  border-collapse: collapse;
}

th {
  text-align: left;
}

th,
td {
  padding: 0.5rem;
}

[class*='language-'] {
  font-size: 13px;
}

code:not([class^='language']) {
  background: var(--border);
  border-radius: 2px;
  font-size: 14px;
  padding: 2px 4px;
}
